<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>About: Library Management System</title>
</head>
<body>
    <header class="header">
        <h1 class="website-name"><a href="/">Library Management System</a></h1>
        <p class="description">Your go-to platform for managing books and resources.</p>
    </header>

    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="catalog">Catalog</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a id="user" href="/user_dashboard">User Dashboard</a></li>
            <li><a id="admin" href="/admin_dashboard">Admin Dashboard</a></li>
        </ul>
    </nav>

    <div class="content">
        <% if (aboutContent) { %>
            <p><%= aboutContent.content %></p>
          <% } else { %>
            <p>About content not available.</p>
          <% } %>
    </div>

    <footer class="footer">
        <p>&copy; 2023 Library Management System. Developed by Anurag Yadav</p>
    </footer>

    <script src="home.js"></script>
</body>
</html>
